<li id="things_2020-08-30T12:18:10.827Z" class="todolist__content bgc-heavy todolist__focus"
  idnum="2020-08-30T12:18:10.827Z">
  <div>
    <span class="todolist__title" contenteditable="true" idnum="2020-08-30T12:18:10.827Z"> 了解一些设计常识 </span>
  </div>
  <div class="icon__todo">
    <svg class="icon icon__nofinish" aria-hidden="true" name="search" idnum="2020-08-30T12:18:10.827Z">
      <use class="icon__finish" xlink:href="#icon-eglass-finish1"></use>
      <use xlink:href="#icon-eglass-finish"></use>
    </svg>
    <svg class="icon icon__delete" aria-hidden="true" name="search" idnum="2020-08-30T12:18:10.827Z">
      <use xlink:href="#icon-delete"></use>
    </svg>
  </div>
</li>