<div class="site-header__search-box">
  <div class="site-header__search-box__content">
    <input class="site-header__search-box__input" type="text" name="search" placeholder="点击放大镜开启关闭搜索功能..." />
  </div>
</div>