<ul class="seprate">
  <li>
    <div class="site-header__login">
      <span class="site-header__loginButton">登陆</span>
      <svg class="icon site-header__loginIcon" aria-hidden="true" name="search">
        <use xlink:href="#icon-user"></use>
      </svg>
    </div>
  </li>

  <li>
    <div class="site-header__profile">
      <span class="site-header__username">x</span>
    </div>
  </li>
</ul>